{% extends "layout.nunjucks" %}

{% block meta %}
  <title>Peta Sitcheff - Sales Coach &amp; Consultant</title>
  <meta name="description" content="Authentic, intentional and sustainable">
{% endblock %}

{% block id %}landing{% endblock %}

{% block main %}

  <section id="hero">
    <div>
      <img src="/assets/images/peta-sitcheff-logo.svg" alt="Peta Sitcheff logo">
      <h1>Sales Coach &amp; Consultant</h1>
      <h2>Authentic, Intentional, Sustainable</h2>
    </div>
  </section>

  <section id="mailchimp">
    <div>
      <p>Launching March 2017.</p>
      <p>Enter your email for updates &amp; news.</p>
      <input type="email">
      <button>Subscribe</button>
    </div>
  </section>

{% endblock %}
