{% extends "layout.nunjucks" %}

{% block meta %}
  <title>Peta Sitcheff - Sales Coaching &amp; Strategy</title>
  <meta name="description" content="Authentic, intentional and sustainable">
{% endblock %}

{% block id %}landing{% endblock %}

{% block main %}

  <section id="hero">
    <div>
      <div class="left">
        <img src="/assets/images/peta-sitcheff-logo.svg" alt="Peta Sitcheff logo" width="233" height="480">
        {% include "partials/svg/hamburger.html" %}
      </div>
      <div class="right">
        <h1>Sales Coaching &amp;&nbsp;Strategy</h1>
        <h2>Authentic, intentional, sustainable</h2>
        <a href="#welcome">
          {% include "partials/svg/arrow-down.html" %}
        </a>
      </div>
    </div>
  </section>

{% endblock %}
