<footer>
  <p>&copy; 2017 <a href="http://abr.business.gov.au/SearchByAbn.aspx?abn=23842267218" target="_blank" title="ABN lookup of Sitcheff Enterprises">Sitcheff Enterprises</a> | Design by
    <a href="https://www.hannahsuttondesign.com/about#incredibles" target="_blank"
        title="Website of graphic designer, illustrator and artist Hannah Sutton">Hannah Sutton &amp; Co.</a> | Copy by <a href="http://www.haleyberryman.com.au/" target="_blank" title="Website of marketing and communication sidekick Haley Berryman">Haley Berryman</a> | Photography by
      <a href="http://www.prueaja.com/" target="_blank"
          title="Website of photographer Prue Aja">Prue Aja</a>
  </p>
</footer>
