<div id="menu">
  <div>
    <a href="/"><img src="/assets/images/peta-sitcheff-logo2.svg" alt="Peta Sitcheff logo" width="233" height="480"></a>
    <a class="close-menu" href="#">Close</a>
    <ul id="navigation-links">
      <li><a href="/#story">About</a></li>
      <li><a href="/#services-nav">Services</a></li>
      <li><a href="/#contact">Contact</a></li>
    </ul>
    <ul id="social-media-links">
      <li>
        <a href="https://www.facebook.com/peta.sitcheff"><img src="/assets/images/social/facebook.svg" alt=""></a>
      </li>
      <li>
        <a href="https://twitter.com/PetaSitcheff"><img src="/assets/images/social/twitter.svg" alt=""></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/peta-sitcheff-20b8b483/"><img src="/assets/images/social/linkedin.svg" alt=""></a>
      </li>
      <li>
        <a href="https://www.instagram.com/petasitcheff/"><img src="/assets/images/social/instagram.svg" alt=""></a>
      </li>
    </ul>
  </div>
</div>
