<footer>
  <p>&copy; 2019
    <a href="http://abr.business.gov.au/SearchByAbn.aspx?abn=23842267218" target="_blank" title="ABN lookup of Sitcheff Enterprises">Sitcheff Enterprises</a>
    | Design by
    <a href="https://www.hannahsuttondesign.com/" target="_blank" title="Artist, graphic designer and illustrator Hannah Sutton">Hannah Sutton</a>
    | Photos by
    <a href="http://www.prueaja.com/" target="_blank" title="Photographer Prue Aja in Melbourne">Prue Aja</a>
    | Code by
    <a href="https://floatplane.dev/" target="_blank" title="Team of web programmers and engineers in Melbourne">Floatplane</a>
  </p>
</footer>