// All headings, paragraphs and buttons will inherit these font styles from the <body>
body {
  font-family: $neuzeit-book;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  margin: 0;
  color: $background-grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.prevent-scroll {
    overflow: hidden;
  }
}

// The general layout of the page
footer,
header,
section {
  min-width: 320px;
  > div {
    min-width: 320px;
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    overflow: hidden;
  }
}

// To avoid <img> and <iframe> to have weird white space below them, make them a block
iframe,
img {
  display: block;
}

// In most cases we use <ul> not as bullet lists and thus we strip them of all browser defaults
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    padding: 0;
  }
}

// This is to override the browser default font-weight and margins
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $neuzeit-heavy;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
  margin: 0;
}

p {
  line-height: 170%;
  font-size: 1.28vw;
  color: $paragraph-grey;
  margin: 0 0 1.6vw;
  @media (max-width: 900px) {
    font-size: 1.6vw;
  }
  @media (max-width: 700px) {
    font-size: 2vw;
  }
}

hr {
  width: 3vw;
  height: 0.3vw;
  background: $peta-yellow;
  border: 0;
  @media (max-width: 600px) {
    min-width: 6vw;
    min-height: 0.6vw;
  }
}

h2 {
  color: #fff;
  font-size: 5vw;
  line-height: 120%;
  color: white;
  &+hr {
    margin: 1vw 0 3vw;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

a.button,
button {
  font-family: $neuzeit-book;
  display: inline-block;
  font-size: 15px;
  line-height: 32px;
  padding: 0 14px;
  border: 0;
  color: white;
  cursor: pointer;
  outline: 0;
  background: rgba(white, 0);
  transition: background-color 300ms ease-out;
  &:hover {
    background: rgba(white, 0.3);
  }
}

input {
  font-family: $neuzeit-book;
}

.callout {
  width: 35vw;
  position: relative;
  background: $peta-yellow;
  color: white;
  padding: 3vw 3.4vw;
  box-sizing: border-box;
  margin-left: 5vw;
  &:after {
    content: ' ';
    position: absolute;
    bottom: -40px;
    bottom: -4.3vw;
    width: 0;
    height: 0;
    border-left: 6.2vw solid rgba(0, 0, 0, 0);
    border-top: 4.4vw solid $peta-yellow;
    right: 4.3vw;

  }
  blockquote {
    font-family: $neuzeit-heavy;
    font-size: 1.7vw;
    line-height: 170%;
    margin: 0;
    color: #fff;
    u {
      display: inline-block;
      position: relative;
      text-decoration: none;
      &:after {
        content: ' ';
        background: white;
        height: 0.2vw;
        bottom: 0.4vw;
        width: 100%;
        position: absolute;
        right: 0;
        @media (max-width: 600px) {
          height: 0.4vw;
          bottom: 1.4vw;
        }
      }
    }
  }
  cite {
    margin-top: 2.2vw;
    font-size: 1.8vw;
    font-style: normal;
    display: block;
    text-align: right;
  }
}

// For the outdated browser message
#outdated {
  p {
    max-width: none;
  }
}
