/* @import must be at top of file, otherwise CSS will not work */
// @import url("//hello.myfonts.net/count/32fa56");
@font-face {
	font-family: 'NeuzeitSLTStd-Book';
	src: url('webfonts/32FA56_0_0.eot');
	src: url('webfonts/32FA56_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32FA56_0_0.woff2') format('woff2'),url('webfonts/32FA56_0_0.woff') format('woff'),url('webfonts/32FA56_0_0.ttf') format('truetype');
}
@font-face {
	font-family: 'NeuzeitSLTStd-BookHeavy';
	src: url('webfonts/32FA56_1_0.eot');
	src: url('webfonts/32FA56_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/32FA56_1_0.woff2') format('woff2'),url('webfonts/32FA56_1_0.woff') format('woff'),url('webfonts/32FA56_1_0.ttf') format('truetype');
}
