footer {
  background: $background-brown;
  p {
    padding: 3vw 2vw;
    color: #939393;
    text-align: center;
    font-size: 1.4vw;
    a {
      color: #939393;
      &:hover {
        color: $peta-yellow;
        text-decoration: underline;
      }
    }
  }
}
