body#landing {
  #hero {
    background: $background-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 70vh;
    > div {
      padding: 6vh 20px;
    }
    img {
      height: 40vh;
      width: auto;
      margin: 0 auto;
    }
    hr {
      border: 0;
      margin: 40px auto;
      height: 3px;
      width: 30px;
      background: white;
    }
    h1 {
      color: white;
      font-size: 4vh;
      margin: 1.2vh 0;
    }
    h2 {
      color: $logo-yellow;
      font-family: $neuzeit-book;
      font-size: 2vh;
    }
  }
  #mailchimp {
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 5vh 20px;
      p {
        font-size: 25px;
        margin: 0 0 30px;
      }
      input {
        font-size: 25px;
        margin: 12px 0 35px;
        line-height: 50px;
        height: 50px;
        outline: 0;
        padding: 0 17px;
        min-width: 340px;
        text-align: center;
      }
      button {
        font-size: 25px;
        line-height: 50px;
        padding: 2px 30px 0;
      }
    }
  }
}
