#landing {
  #hero {
    position: relative;
    background: #0B0B0B url('/assets/images/hero-2000px.jpg') no-repeat 50% 50% / auto 100%;
    height: 1333px;
    max-height: 100vh;
    @media (max-width: 1800px) {
      background-image: url('/assets/images/hero-1800px.jpg');
      height: 1333px;
    }
    @media (max-width: 1600px) {
      background-image: url('/assets/images/hero-1600px.jpg');
      height: 1200px;
    }
    @media (max-width: 1200px) {
      background-image: url('/assets/images/hero-1200px.jpg');
      height: 800px;
    }
    @include retina {
       @media (max-width: 900px){
        background-image: url('/assets/images/hero-1800px.jpg');
        height: 666px;
      }
      @media (max-width: 800px) {
        background-image: url('/assets/images/hero-1600px.jpg');
        height: 600px;
      }
      @media (max-width: 600px) {
        background-image: url('/assets/images/hero-1200px.jpg');
        height: 400px;
      }
      @media (max-width: 450px) {
        height: 178vw;
        background-size: 172vw;
        background-position-y: -10vw;
        background-position-x: -30vw;
        max-height: none;
      }
    }

    > div {
      max-width: none;
      padding: 3vw;
    }
    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;

      position: absolute;
      left: 3vw;
      top: 3vw;
      @media (max-width: 600px) {
        left: 5vw;
        top: 5vw;
      }
      img {
        width: 11vw;
        height: auto;
        min-width: 60px;
      }
      svg {
        display: none;
        width: 50px;
        margin: 2vw;
      }
    }
    .right {
      position: absolute;
      right: 3vw;
      bottom: 13vw;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      @media (max-width: 600px) {
        bottom: 0;
        right: 5vw;
      }
      h1 {
        font-size: 5.6vh;
        // max-width: 30vw;
        text-align: right;
        line-height: 120%;
        color: white;
      }
      h2 {
        font-family: $neuzeit-book;
        font-size: 2.4vh;
        color: $peta-yellow;
        text-align: right;
        line-height: 150%;
        margin-top: 0.8vw;
      }
      a {
        display: block;
        padding: 4vw;
        &:hover {
          svg {
            transform: translateY(1vw);
          }
        }
        svg {
          width: 8vw;
          height: auto;
          transition: transform 250ms ease-out;
          transform: translateY(0vw);
        }
      }
    }
  }

  #welcome {
    > div {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      padding: 12vw 30px;
      max-width: none;
    }
    h2 {
      color: $peta-yellow;
    }
    h3 {
      font-size: 2.2vw;
      font-family: $neuzeit-book;
      line-height: 100%;
    }
    hr {
      margin: 2vw 0 1.6vw;
    }
    p {
      line-height: 170%;
      margin: 0 0 1.6vw;
      font-size: 1.25vw;
    }
    .left {
      width: 40vw;
    }
  }

  #awareness-quote,
  #guidance-quote {
    > div {
      position: relative;
      max-width: none;
      padding: 0;
    }
    .background {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0.92;
      background: #2a292a url('/assets/images/background-city-2000px.jpg') no-repeat 50% bottom / cover;
      @media (max-width: 1200px) {
        background-image: url('/assets/images/background-city-1200px.jpg');
      }
      @include retina {
         @media (max-width: 600px){
          background-image: url('/assets/images/background-city-1200px.jpg');
        }
      }
    }
    blockquote {
      position: relative;
      font-family: $neuzeit-heavy;
      color: white;
      font-size: 2.2vw;
      line-height: 170%;
      margin: 8vw;
      width: 42vw;
      u {
        position: relative;
        text-decoration: none;
        &:after {
          content: ' ';
          background: $peta-yellow;
          height: 2px;
          bottom: 0;
          width: 84%;
          position: absolute;
          right: 0;
        }
      }
    }
  }

  #awareness-quote {
    > div {
      display: flex;
      justify-content: flex-end;
    }
    .background {
      background-image: url('/assets/images/background-hand-2000px.jpg');
      @media (max-width: 1200px) {
        background-image: url('/assets/images/background-hand-1200px.jpg');
      }
      @include retina {
         @media (max-width: 600px){
          background-image: url('/assets/images/background-hand-1200px.jpg');
        }
      }
    }
    blockquote {
      text-align: right;
      u {
        &:after {
          width: 100%;
        }
      }
    }
  }

  #story {
    width: 100vw;
    height: 74vw;
    overflow: hidden;
    > div {
      width: 200vw;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      max-width: none;
      padding: 0;
      > div {
        width: 100vw;
      }
    }
    h2 {
      color: $peta-yellow;
      font-family: $neuzeit-heavy;
      font-size: 5.2vw;
      line-height: 100%;
    }
    hr {
      margin: 1.2vw 0 2.9vw 0.2vw;
      display: inline-block;
    }
    button {
      &.arrow {
        display: flex;
        flex-flow: row nowrap;
        color: $peta-yellow;
        align-items: center;
        background: none;
        font-size: 2.4vw;
        width: 100%;
        margin-top: 2vw;
        transition: transform 250ms ease-out;
        transform: translateX(0vw);
        padding: 0;
        &.right {
          justify-content: flex-end;
          &:hover {
            transform: translateX(1vw);
            svg {
              transform: translateX(1vw);
            }
          }
        }
        &.left {
          justify-content: flex-start;
          &:hover {
            transform: translateX(-1vw);
            svg {
              transform: translateX(-1vw);
            }
          }
        }
        svg {
          width: 20px;
          transition: transform 250ms ease-out;
          transform: translateX(0vw);
        }
        span {
          margin: 0 1vw;
        }
      }
    }
    #short {
      display: flex;
      justify-content: center;
      align-items: center;
      > div {
        max-width: 30vw;
      }
      p {
        font-size: 2.4vw;
        line-height: 140%;
        margin: 0;
      }
    }
    #long {
      display: flex;
      justify-content: center;
      align-items: center;
      > div {
        max-width: 78vw;
        > div {
          display: flex;
          justify-content: space-between;
          > div {
            width: 44%;
          }
        }
      }
    }
  }

  #services-nav {
    background: $peta-yellow;
    background: $peta-yellow-bg;
    background: #f5e401;
    > div {
      max-width: none;
      padding: 8vw 5vw;
      > div {
        margin-left: 36vw;
      }
    }
    h2 {
      color: white;
      font-family: $neuzeit-heavy;
      font-size: 5vw;
    }
    hr {
      background: white;
      margin: 0 0 3.6vw;
    }
    ul {
      display: flex;
      flex-flow: row nowrap;
      li {
        width: 25%;
        &:nth-child(even) {
          a {
            padding-top: 6vw;
          }
        }
        a {
          display: block;
          border: 0.3vw solid white;
          color: white;
          font-family: $neuzeit-heavy;
          font-size: 2.8vw;
          line-height: 140%;
          margin: 0.8vw;
          padding: 4vw 2vw 0;
          height: 27vw;
          user-select: none;
          box-sizing: border-box;
          transition: all 300ms ease-out;
          transition-property: background, transform;
          &:hover {
            transform: translateY(1vw);
            svg {
              transform: translateY(1vw);
            }
          }
          svg {
            transition: all 300ms ease-out;
            transition-property: background, transform;
            width: 6vw;
            height: auto;
            display: block;
            margin-top: 1vw;
            path {
              fill: white;
            }
          }
        }
      }
    }
  }

  #sales-coaching {
    background: #0B0B0C url('/assets/images/1on1-2000px.jpg') no-repeat 50% 50% / auto 100%;
    @media (max-width: 1200px) {
      background-image: url('/assets/images/1on1-1200px.jpg');
    }
    @include retina {
       @media (max-width: 600px){
        background-image: url('/assets/images/1on1-1200px.jpg');
      }
    }
    > div {
      max-width: 80vw;
      padding: 10vw 40vw 10vw 0;
      box-sizing: border-box;
      margin: 0 auto;
    }
    h2 {
      color: white;
      font-family: $neuzeit-heavy;
      font-size: 4.2vw;
      line-height: 130%;
      // &:after {
      //   content: ' ';
      //   background: $peta-yellow;
      //   height: 2px;
      //   bottom: 0;
      //   width: 30px;
      //   position: absolute;
      //   left: 0;
      // }
    }
    p {
      color: white;
    }
    hr {
      margin: 1vw 0 3.6vw;
    }
    img {
      max-width: 100%;
    }
    a.button {
      border: 0.3vw solid $peta-yellow;
      color: $peta-yellow;
      font-size: 2vw;
      padding: 1.4vw 5vw 1.1vw;
      margin-top: 2vw;
      background: rgba($peta-yellow, 0);
      &:hover {
        background: rgba($peta-yellow, 0.3);
      }
    }
  }

  #packages-intro,
  #packages-list {
    background: #0b0b0c;
    > div {
      max-width: none;
      width: 82vw;
    }
    h2 {
      color: white;
    }
    p {
      color: white;
    }
  }

  #packages-intro {
    > div {
      padding: 10vw 5vw 8vw;
      display: flex;
      h2 {
        margin-top: 1vw;
      }
      .callout {
        flex-shrink: 0;
        width: 39vw;
        padding: 3.2vw 3.6vw;
        blockquote {
          font-size: 2.4vw;
          line-height: 150%;
        }
      }
    }
  }

  #packages-list {
    > div {
      padding: 0 5vw 11vw;
      > ul {
        > li {
          position: relative;
          display: flex;
          flex-flow: row nowrap;
          padding: 4vw 3vw 4vw 8vw;
          background: white;
          margin-bottom: 3vw;
          img {
            position: absolute;
            left: 0;
            top: 50%;
            width: 9vw;
            height: 9vw;
            transform: translate(-4.5vw, -4.5vw);
          }
          h3 {
            position: relative;
            color: $peta-yellow;
            font-size: 4.9vw;
            line-height: 120%;
          }
          hr {
            margin: 1vw 0 3vw;
          }
          a {
            font-size: 1.25vw;
            font-family: $neuzeit-heavy;
            color: $peta-yellow;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
          p {
            color: $paragraph-grey;
          }
          .left {
            width: 100%;
            padding-right: 4vw;
          }
          .right {
            width: 33%;
            flex-shrink: 0;
            h4 {
              font-family: $neuzeit-book;
              font-size: 2.7vw;
              margin-top: 1.58vw;
              margin-bottom: 1vw;
            }
            ul {
              li {
                position: relative;
                padding-left: 1.5vw;
                &:after {
                  content: ' ';
                  position: absolute;
                  left: 0;
                  top: 0.68vw;
                  width: 0.5vw;
                  height: 0.5vw;
                  background: $peta-yellow;
                  border-radius: 50%;
                }
                p {
                  margin: 0;
                }
              }
            }
          }
          &.last {
            background: none;
            border: 0.2vw solid white;
            display: flex;
            flex-flow: row wrap;
            h5 {
              position: relative;
              width: 100%;
              color: white;
              font-size: 2vw;
              margin-bottom: 1.8vw;
              font-size: 2vw;
              margin-bottom: 3.6vw;
              line-height: 120%;
              &:after {
                content: ' ';
                background: $peta-yellow;
                height: 0.14vw;
                bottom: -1vw;
                width: 2.8vw;
                position: absolute;
                left: 0;
                min-height: 1px;
              }
            }
            > div {
              width: 50%;
              p {
                color: white;
                margin: 0 0 1vw;
              }
              a {
                font-size: 1.25vw;
                font-family: $neuzeit-heavy;
                color: $peta-yellow;
                text-decoration: underline;
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }

  section.split {
    display: flex;
    flex-flow: row nowrap;
    @media (max-width: 640px) {
      flex-direction: column;
    }
    > div {
      width: 50%;
      padding: 0;
      max-width: none;
      &.text {
        padding: 8vw;
      }
      @media (max-width: 640px) {
        order: 1;
        &.text {
          order: 2;
        }
      }
      .includes {
        border: 0.2vw solid white;
        padding: 3.6vw 3.8vw;
        margin: 3vw 0 0;
        text-align: left;
        h4 {
          font-size: 2.4vw;
          line-height: 100%;
          font-family: $neuzeit-book;
          margin-bottom: 1vw;
        }
        ul {
          li {
            position: relative;
            padding-left: 1.5vw;
            &:after {
              content: ' ';
              position: absolute;
              left: 0;
              top: 0.68vw;
              width: 0.5vw;
              height: 0.5vw;
              background: $peta-brown;
              border-radius: 50%;
            }
          }
        }
      }
      > img {
        width: 100%;
        height: auto;
      }
    }
    h2 {
      color: #fff;
      font-size: 5vw;
      line-height: 120%;
      color: white;
    }
    hr {
      margin: 0.4vw 0.4vw 3.4vw;
    }
    p {
      color: $peta-brown;
      margin: 0;
      &+p {
        margin: 1.6vw 0 0;
      }
    }
    .button {
      width: 100%;
      border: 0.2vw solid $peta-yellow;
      color: $peta-brown;
      display: block;
      box-sizing: border-box;
      text-align: center;
      font-size: 2.4vw;
      line-height: 100%;
      padding: 2vw 0 1.6vw;
      margin: 3vw 0 0;
    }
  }

  #coaching-women {
    background: $peta-yellow-bg;
    hr {
      background: white;
    }
    .button {
      border-color: white;
    }
  }

  #sales-preparation {
    background: white;
    text-align: right;
    .line {
      display: flex;
      justify-content: flex-end;
    }
    .includes {
      border-color: $peta-yellow;
    }
    h2 {
      color: $peta-yellow;
      font-size: 3.8vw;
      margin: 0;
    }
    h3 {
      color: $peta-yellow;
      font-size: 2vw;
      font-family: $neuzeit-book;
      margin-bottom: 0.9vw;
    }
    .button {
      background: rgba($peta-yellow, 0);
      &:hover {
        background: rgba($peta-yellow, 1);
      }
    }
  }

  #group-workshop {
    background: $background-brown;
    p {
      color: white;
    }
    .button {
      color: $peta-yellow;
    }
  }

  #contact {
    background: $peta-yellow-bg;
    h3 {
      font-family: $neuzeit-book;
      font-size: 2.5vw;
      color: $peta-brown-text;
      line-height: 130%;
    }
    h4 {
      line-height: 200%;
      font-size: 1.8vw;
      font-family: $neuzeit-heavy;
      color: $peta-brown-text;
    }
    #details {
      max-width: 37vw;
      padding-top: 10vw;
      hr {
        background: white;
      }
      p {
        margin-top: 2vw;
        color: $peta-brown-text;
      }
      dl {
        display: flex;
        flex-wrap: wrap;
        margin: 3vw 0;
        dd,
        dt {
          line-height: 200%;
          font-size: 2vw;
        }
        dt {
          width: 8%;
        }
        dd {
          width: 92%;
          margin: 0;
          a {
            position: relative;
            display: inline-block;
            font-family: $neuzeit-heavy;
            color: $peta-brown-text;
            &:after {
              content: ' ';
              position: absolute;
              bottom: 13px;
              left: 0;
              width: 100%;
              height: 1px;
              background: $peta-brown;
              opacity: 0.5;
              transition: bottom 300ms ease-out;
            }
            &:hover {
              &:after {
                bottom: 5px;
              }
            }
          }
        }
      }
      .social {
        display: flex;
        margin: 3vw 0 5vw;
        li {
          margin-right: 1.6vw;
          a {
            display: block;
            border-radius: 50%;
            &:hover {
              img {
                transform: scaleX(-1.24) scaleY(1.24);
              }
            }
            img {
              width: 5vw;
              height: 5vw;
              transform: scaleX(1) scaleY(1);
              transition: transform 400ms ease-out;
            }
          }
        }
      }
      .button {
        border: 0.2vw solid white;
        line-height: 100%;
        font-size: 2.4vw;
        text-align: center;
        width: 28vw;
        padding: 1.7vw 0 1.4vw;
        margin: 1.1vw 0;
      }
    }
    #form {
      max-width: 80vw;
      padding-top: 6vw;
      padding-bottom: 17vw;
      h4 {
        margin-bottom: 1vw;
      }
      form {
        display: flex;
        > div {
          width: 50%;
          display: flex;
          flex-flow: column nowrap;
          &.left {
            padding-right: 2vw;
          }
          &.right {
            padding-left: 2vw;
          }
        }
      }
      .field {
        position: relative;
        margin-bottom: 1.5vw;
        input,
        label,
        textarea {
          font-size: 2vw;
          line-height: 150%;
          padding: 1.8vw 1.9vw 1.4vw;
        }
        label {
          position: absolute;
          z-index: 3;
          left: 0;
          top: 0;
          transition: transform 300ms ease-out;
          color: $peta-yellow;
        }
        input,
        textarea {
          position: relative;
          z-index: 2;
          width: 100%;
          box-sizing: border-box;
          color: $peta-brown-text;
          border: 0;
          outline: 0;
          background: white;
        }
        input {
          &:focus+.bg {
            transform: scaleX(1.02) scaleY(1.06);
          }
          &[name="name"] {
            padding-left: 8.2vw;
          }
          &[name="email"] {
            padding-left: 7.7vw;
          }
          &[name="phone"] {
            padding-left: 8.5vw;
          }
          &[name="location"] {
            padding-left: 10.8vw;
          }
          &[name="company"] {
            padding-left: 11.8vw;
          }
          &[name="industry"] {
            padding-left: 10vw;
          }
        }
        textarea {
          display: block;
          max-width: 100%;
          min-width: 100%;
          min-height: 36.6vw;
          padding-bottom: 1.8vw;
          &.has-value,
          &:focus {
            &+label {
              display: none;
            }
          }
        }
        .bg {
          background: white;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          bottom: 0;
          transition: transform 200ms ease-out;
        }
      }
      button {
        background: $background-brown;
        font-size: 2vw;
        line-height: 150%;
        padding: 1.8vw 1.9vw 1.4vw;
        transition: opacity 200ms ease-out;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

}
