#landing {
  position: relative;
  @media (min-width: 599px) {
    main {
      transition: transform ease-out 400ms;
      &.menu-active {
        transform: translateX(25vw);
        #hero {
          .right {
            opacity: 0;
          }
        }
      }
    }
  }
  #hero {
    position: relative;
    background: #000000 url('/assets/images/hero2-2000px.jpg') no-repeat 50% 50% / auto 100%;
    height: 1333px;
    max-height: 100vh;
    @media (max-width: 1800px) {
      background-image: url('/assets/images/hero2-1800px.jpg');
      height: 1333px;
    }
    @media (max-width: 1600px) {
      background-image: url('/assets/images/hero2-1600px.jpg');
      height: 1200px;
    }
    @media (max-width: 1200px) {
      background-image: url('/assets/images/hero2-1200px.jpg');
      height: 800px;
    }
    @include retina {
       @media (max-width: 900px){
        background-image: url('/assets/images/hero2-1800px.jpg');
        height: 666px;
      }
      @media (max-width: 800px) {
        background-image: url('/assets/images/hero2-1600px.jpg');
        height: 600px;
      }
      @media (max-width: 600px) {
        background-image: url('/assets/images/hero2-1200px.jpg');
        height: 400px;
      }
      @media (max-width: 450px) {
        height: 178vw;
        background-size: 172vw;
        background-position-y: -10vw;
        background-position-x: -30vw;
        max-height: none;
      }
    }

    > div {
      max-width: none;
      padding: 3vw;
    }
    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      position: absolute;
      left: 3vw;
      top: 3vw;
      @media (max-width: 600px) {
        left: 5vw;
        top: 5vw;
      }
      img {
        width: 11vw;
        height: auto;
        min-width: 60px;
      }
      svg {
        width: 50px;
        margin-top: 2vw;
        cursor: pointer;
        transition: transform ease-out 90ms;
        z-index: 2;
        @media (max-width: 450px) {
          display: block;
        }

      }
    }
    .right {
      position: absolute;
      right: 3vw;
      bottom: 13vw;
      display: flex;
      flex-flow: column nowrap;
      align-items: flex-end;
      transition: opacity 400ms ease-out;
      @media (max-width: 600px) {
        bottom: 0;
        right: 5vw;
      }
      h1 {
        font-size: 5.6vh;
        text-align: right;
        line-height: 120%;
        color: white;
      }
      h2 {
        font-family: $neuzeit-book;
        font-size: 2.4vh;
        color: $peta-yellow;
        text-align: right;
        line-height: 150%;
        margin-top: 0.8vw;
      }
      a {
        display: block;
        padding: 4vw;
        &:hover {
          svg {
            transform: translateY(1vw);
          }
        }
        svg {
          width: 8vw;
          height: auto;
          transition: transform 250ms ease-out;
          transform: translateY(0vw);
        }
      }
    }
  }

  #welcome {
    > div {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      padding: 12vw 8vw;
      max-width: none;
    }
    h2 {
      color: $peta-yellow;
      font-size: 5vw;
      @media (max-width: 600px) {
        font-size: 10vw;
      }
    }
    h3 {
      font-family: $neuzeit-book;
      line-height: 100%;
      font-size: 2.5vw;
      margin-bottom: 0.9vw;
      @media (max-width: 600px) {
        font-size: 5vw;
      }
    }
    hr {
      margin: 2vw 0 1.6vw;
    }
    p {
      line-height: 170%;
      margin: 0 0 1.6vw;
      font-size: 1.25vw;
      @media (max-width: 800px) {
        font-size: 2vw;
      }
      @media (max-width: 600px) {
        font-size: 3.6vw;
        &:nth-last-child(1) {
          display: none;
        }
      }
    }
    .left {
      width: 40vw;
      @media (max-width: 800px) {
        width: 100%;
      }
    }
    @media (max-width: 800px) {
      .callout {
        display: none;
      }
    }
  }

  #awareness-quote,
  #guidance-quote {
    > div {
      position: relative;
      max-width: none;
      padding: 0;
    }
    .background {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0.92;
      background: #2a292a url('/assets/images/background-city-2000px.jpg') no-repeat 50% bottom / cover;
      @media (max-width: 1200px) {
        background-image: url('/assets/images/background-city-1200px.jpg');
      }
      @include retina {
         @media (max-width: 600px){
          background-image: url('/assets/images/background-city-1200px.jpg');
        }
      }
    }
    blockquote {
      position: relative;
      font-family: $neuzeit-heavy;
      color: white;
      font-size: 2.2vw;
      line-height: 170%;
      margin: 8vw;
      width: 42vw;
      @media (max-width: 700px) {
        font-size: 3.2vw;
        width: 70vw;
      }
      @media (max-width: 600px) {
        font-size: 4.2vw;
      }
      @media (max-width: 450px) {
        font-size: 6vw;
        min-width: 280px;
        width: 84vw;
        margin-top: 25vw;
        margin-bottom: 40vw;
      }
      u {
        position: relative;
        text-decoration: none;
        &:after {
          content: ' ';
          background: $peta-yellow;
          height: 2px;
          bottom: 0;
          width: 97%;
          position: absolute;
          right: 2px;
        }
      }
    }
  }

  #awareness-quote {
    > div {
      display: flex;
      justify-content: flex-end;
    }
    .background {
      background-image: url('/assets/images/background-hand-2000px.jpg');
      @media (max-width: 1200px) {
        background-image: url('/assets/images/background-hand-1200px.jpg');
      }
      @include retina {
         @media (max-width: 600px){
          background-image: url('/assets/images/background-hand-1200px.jpg');
        }
      }
    }
    blockquote {
      text-align: right;
      @media (max-width: 700px) {
        width: 60vw;
      }
      @media (max-width: 600px) {
        width: 70vw;
      }
      u {
        &:after {
          width: 100%;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  #story {
    width: 100vw;
    overflow: hidden;
    > div {
      width: 200vw;
      display: flex;
      align-items: flex-start;
      flex-flow: row nowrap;
      max-width: none;
      padding: 0;

      > div {
        padding: 8vw;
        width: 84vw;
      }
    }
    h2 {
      color: $peta-yellow;
      font-family: $neuzeit-heavy;
      line-height: 100%;
      font-size: 5vw;
      @media (max-width: 600px) {
        font-size: 10vw;
      }
    }
    hr {
      margin: 1.2vw 0 2.9vw 0.2vw;
      display: inline-block;
    }
    button {
      &.arrow {
        display: flex;
        flex-flow: row nowrap;
        color: $peta-yellow;
        align-items: center;
        background: none;
        font-size: 2.4vw;
        width: 100%;
        margin-top: 2vw;
        transition: transform 250ms ease-out;
        transform: translateX(0vw);
        padding: 0;
        @media (max-width: 600px) {
          font-size: 3.6vw;
        }
        &.right {
          justify-content: flex-end;
          &:hover {
            transform: translateX(1vw);
            svg {
              transform: translateX(1vw);
            }
          }
        }
        &.left {
          justify-content: flex-start;
          &:hover {
            transform: translateX(-1vw);
            svg {
              transform: translateX(-1vw);
            }
          }
        }
        svg {
          width: 20px;
          transition: transform 250ms ease-out;
          transform: translateX(0vw);
          @media (max-width: 600px) {
            width: 10px;
          }
        }
        span {
          margin: 0 1vw;
        }
      }
    }
    #short {
      display: flex;
      justify-content: center;
      align-items: center;

      > div {
        max-width: 30vw;
        @media (max-width: 600px) {
          max-width: 84vw;
        }
      }
      p {
        @media (max-width: 600px) {
          font-size: 3.6vw;
        }
      }
    }
    #long {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        @media (max-width: 600px) {
          font-size: 3.6vw;
        }
      }
      a.button {
        width: 100%;
        border: 0.2vw solid $peta-yellow;
        color: $peta-brown;
        background: rgba($peta-yellow, 0);
        display: block;
        box-sizing: border-box;
        text-align: center;
        font-size: 2.4vw;
        line-height: 100%;
        padding: 2vw 0 1.6vw;
        margin: 3vw auto;
        &:hover {
          background: rgba($peta-yellow, 1);
        }
        @media (max-width: 700px) {
          width: 40vw;
        }
        @media (max-width: 600px) {
          display: flex;
          margin-top: 3vw;
          width: auto;
          font-size: 4vw;
          padding: 2.4vw 8vw 2.1vw;
          justify-content: center;
        }
        @media (max-width: 450px) {
          font-size: 6vw;
          padding: 3.4vw 12vw 3.1vw;
        }
        @media (max-width: 400px) {
          display: flex;
          justify-content: center;
          width: 100%;
        }
      }
      > div {
        max-width: 78vw;

        > div {
          display: flex;
          justify-content: space-between;
          @media (max-width: 700px) {
            flex-direction: column;
          }
          > div {
            width: 44%;
            @media (max-width: 700px) {
              width: 100%;
            }
          }
        }
      }
    }
  }

  #services-nav {
    background: $peta-yellow;
    background: $peta-yellow-bg;
    background: $peta-yellow;
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: none;
      padding: 8vw 5vw;
    }
    h2 {
      color: white;
      font-family: $neuzeit-heavy;
      font-size: 5vw;
      @media (max-width: 600px) {
        font-size: 10vw;
      }
    }
    hr {
      background: white;
      margin: 0 0 3.6vw;
    }
    ul {
      display: flex;
      flex-flow: row nowrap;
      @media (max-width: 600px) {
        flex-wrap: wrap;
      }
      li {
        width: 25%;
        &:nth-child(even) {
          a {
            padding-top: 6vw;
          }
        }
        @media (max-width: 600px) {
          width: 50%;
        }
        a {
          display: block;
          border: 0.3vw solid white;
          color: white;
          font-family: $neuzeit-heavy;
          font-size: 2.8vw;
          line-height: 140%;
          margin: 0.8vw;
          padding: 4vw 2vw 0;
          height: 27vw;
          user-select: none;
          box-sizing: border-box;
          transition: all 300ms ease-out;
          transition-property: background, transform;
          @media (max-width: 600px) {
            font-size: 6vw;
            height: 54vw;
            padding-left: 4vw 4.8vw 0;
            margin: 2vw;
          }
          &:hover {
            transform: translateY(1vw);
            svg {
              transform: translateY(1vw);
            }
          }
          svg {
            transition: all 300ms ease-out;
            transition-property: background, transform;
            width: 6vw;
            height: auto;
            display: block;
            margin-top: 1vw;
            @media (max-width: 600px) {
              width: 10vw;
            }
            path {
              fill: white;
            }
          }
        }
      }
    }
  }

  #sales-coaching {
    background: #0B0B0C url('/assets/images/1on1-2000px.jpg') no-repeat 50% 50% / auto 100%;
    @media (max-width: 1200px) {
      background-image: url('/assets/images/1on1-1200px.jpg');
    }
    @include retina {
       @media (max-width: 600px){
        background: #0b0b0c url('/assets/images/1on1-1200px.jpg') no-repeat -80vw -4vw / auto 110vw;
      }
    }
    > div {
      max-width: 80vw;
      padding: 10vw 40vw 10vw 0;
      box-sizing: border-box;
      margin: 0 auto;
      @media (max-width: 600px) {
        padding: 110vw 8vw 10vw;
      }
    }
    h2 {
      color: white;
      font-family: $neuzeit-heavy;
      font-size: 4.2vw;
      line-height: 130%;
      @media (max-width: 600px) {
        font-size: 10vw;
      }
    }
    p {
      color: white;
      @media (max-width: 600px) {
        font-size: 4vw;
        margin-top: 6vw;
      }
    }
    hr {
      margin: 1vw 0 3.6vw;
    }
    img {
      max-width: 100%;
    }
    a.button {
      border: 0.3vw solid $peta-yellow;
      color: $peta-yellow;
      font-size: 2vw;
      padding: 1.4vw 5vw 1.1vw;
      margin-top: 2vw;
      background: rgba($peta-yellow, 0);
      @media (max-width: 600px) {
        font-size: 4vw;
        padding: 2.4vw 8vw 2.1vw;
      }
      @media (max-width: 450px) {
        font-size: 6vw;
        padding: 3.4vw 12vw 3.1vw;
      }
      &:hover {
        background: rgba($peta-yellow, 0.3);
      }
    }
  }

  #packages-intro,
  #packages-list {
    background: #0b0b0c;
    > div {
      max-width: none;
      width: 80vw;
    }
    h2 {
      color: white;
    }
    p {
      color: white;
    }
  }

  #packages-intro {
    > div {
      padding: 10vw 0 8vw;
      display: flex;
      @media (max-width: 600px) {
        padding: 10vw 8vw 8vw;
        flex-direction: column-reverse;
        > .left {
          margin-top: 8vw;
        }
      }
      h2 {
        margin-top: 1vw;
        color: white;
        font-family: $neuzeit-heavy;
        font-size: 4.2vw;
        line-height: 130%;
        @media (max-width: 600px) {
          font-size: 10vw;
        }
      }
      p {
        color: white;
        margin: 0 0 1vw;
        @media (max-width: 600px) {
          font-size: 3.6vw;
        }
      }

      > .callout {
        flex-shrink: 0;
        width: 39vw;
        padding: 3.2vw 3.6vw;
        @media (max-width: 600px) {
          width: auto;
          margin-left: 0;
          padding: 8vw;
        }
        blockquote {
          font-size: 2.4vw;
          line-height: 150%;
          @media (max-width: 600px) {
            font-size: 5vw;
            line-height: 160%;
          }
        }
      }
    }
  }

  #packages-list {
    > div {
      padding: 0 0 11vw;
      overflow: visible;
      @media (max-width: 600px) {
        padding: 0 8vw 11vw;
      }
      > ul {
        @media (max-width: 600px) {
          padding-top: 10vw;
        }
        > li {
          position: relative;
          display: flex;
          flex-flow: row nowrap;
          padding: 4vw 3vw 4vw 8vw;
          background: white;
          margin-bottom: 3vw;
          @media (max-width: 600px) {
            flex-direction: column;
            padding: 10vw 6vw 6vw;
            margin-bottom: 10vw;
          }
          img {
            position: absolute;
            left: 0;
            top: 50%;
            width: 9vw;
            height: 9vw;
            transform: translate(-4.5vw, -4.5vw);
            @media (max-width: 600px) {
              left: 50%;
              top: 0;
              width: 12vw;
              height: 12vw;
              transform: translate(-6vw, -6vw);
            }
          }
          h3 {
            position: relative;
            color: $peta-yellow;
            line-height: 120%;
            font-size: 3vw;
            @media (max-width: 800px) {
              font-size: 4.9vw;

            }
            @media (max-width: 600px) {
              font-size: 9vw;
            }
          }
          hr {
            margin: 1vw 0 3vw;
          }
          a {
            font-size: 1.25vw;
            font-family: $neuzeit-heavy;
            color: $peta-yellow;
            text-decoration: underline;
            @media (max-width: 600px) {
              font-size: 4.25vw;
            }
            &:hover {
              text-decoration: none;
            }
          }
          p {
            color: $paragraph-grey;
            margin: 0 0 1vw;
            @media (max-width: 600px) {
              font-size: 3.6vw;
              margin-bottom: 3vw;
            }
          }
          .left {
            width: 100%;
            padding-right: 4vw;
          }
          .right {
            width: 33%;
            flex-shrink: 0;
            @media (max-width: 600px) {
              width: auto;
            }
            h4 {
              font-family: $neuzeit-book;
              font-size: 2vw;
              margin-top: 1.58vw;
              margin-bottom: 1vw;
              @media (max-width: 800px) {
                font-size: 2.7vw;
              }
              @media (max-width: 600px) {
                display: block;
                font-size: 5.7vw;
                margin: 5vw 0 2vw;
              }
            }
            ul {
              li {
                position: relative;
                padding-left: 1.5vw;
                &:after {
                  content: ' ';
                  position: absolute;
                  left: 0;
                  top: 0.68vw;
                  width: 0.5vw;
                  height: 0.5vw;
                  background: $peta-yellow;
                  border-radius: 50%;
                  @media (max-width: 600px) {
                    left: -1vw;
                    top: 2.25vw;
                    width: 1vw;
                    height: 1vw;
                    border-radius: 100%;
                  }
                }
                p {
                  margin: 0;
                }
              }
            }
          }
          &.last {
            background: none;
            border: 0.2vw solid white;
            display: flex;
            flex-flow: row wrap;
            @media (max-width: 600px) {
              flex-flow: column nowrap;
              padding: 10vw 10vw 6vw;
            }
            h5 {
              position: relative;
              width: 100%;
              color: white;
              font-size: 2vw;
              line-height: 120%;
              @media (max-width: 600px) {
                margin-bottom: 2.6vw;
                font-size: 6vw;
              }
            }
            hr {
              display: block;
              margin-right: 40vw;
            }
            > div {
              width: 50%;
              @media (max-width: 600px) {
                width: auto;
                margin-bottom: 6vw;

              }
              p {
                color: white;
                margin: 0;
                @media (max-width: 600px) {
                  font-size: 4.6vw;
                  margin: 0 0 2vw;
                }
              }
              a {
                font-size: 1.25vw;
                font-family: $neuzeit-heavy;
                color: $peta-yellow;
                text-decoration: underline;
                @media (max-width: 600px) {
                  font-size: 5vw;
                }
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }

  section.split {
    display: flex;
    flex-flow: row nowrap;
    @media (max-width: 640px) {
      flex-direction: column;
    }
    > div {
      width: 50%;
      padding: 0;
      max-width: none;
      @media (max-width: 600px) {
        width: auto;
      }
      &.text {
        padding: 8vw;
        a {
          @media (max-width: 600px) {
            display: inline-flex;
            margin-top: 3vw;
            width: auto;
            font-size: 4vw;
            padding: 2.4vw 8vw 2.1vw;
          }
          @media (max-width: 450px) {
            font-size: 6vw;
            padding: 3.4vw 12vw 3.1vw;
          }
          @media (max-width: 400px) {
            display: flex;
            justify-content: center;
            width: 100%;
          }
        }
      }
      @media (max-width: 640px) {
        order: 1;
        &.text {
          order: 2;
        }
      }
      &.image {
        position: relative;
        img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 55vw;
          height: auto;
          min-height: 100%;
        }
        @media (max-width: 700px) {
          img {
            height: 102%;
            width: auto;
          }
        }
        @media (max-width: 640px) {
          width: 102vw;
          height: 102vw;
          img {
            left: 50vw;
            top: 50vw;
            transform: translate(-50%, -33%);
            width: 100vw;
            height: auto;
          }
        }
      }
      .includes {
        border: 0.2vw solid white;
        padding: 3.6vw 3.8vw;
        margin: 3vw 0 0;
        text-align: left;
        h4 {
          font-size: 2.4vw;
          line-height: 100%;
          font-family: $neuzeit-book;
          margin-bottom: 1vw;
          @media (max-width: 600px) {
            font-size: 6vw;
          }
        }
        ul {
          li {
            position: relative;
            padding-left: 1.5vw;
            &:after {
              content: ' ';
              position: absolute;
              left: 0;
              top: 0.68vw;
              width: 0.5vw;
              height: 0.5vw;
              background: $peta-brown;
              border-radius: 50%;
              @media (max-width: 600px) {
                left: -0.8vw;
                top: 2.68vw;
                width: 0.8vw;
                height: 0.8vw;
              }
            }
          }
        }
      }
      > img {
        width: 100%;
        height: auto;
      }
    }
    h2 {
      color: #fff;
      line-height: 120%;
      font-size: 3.8vw;
      margin: 0;
      @media (max-width: 600px) {
        font-size: 10vw;
      }
    }
    hr {
      margin: 0.4vw 0.4vw 3.4vw;
    }
    p {
      color: $peta-brown;
      margin: 0;
      @media (max-width: 600px) {
        font-size: 4vw;
        margin-top: 6vw;
      }
      &+p {
        margin: 1.6vw 0 0;
      }
    }
    .button {
      width: 100%;
      border: 0.2vw solid $peta-yellow;
      color: $peta-brown;
      display: block;
      box-sizing: border-box;
      text-align: center;
      font-size: 2.4vw;
      line-height: 100%;
      padding: 2vw 0 1.6vw;
      margin: 3vw 0 0;
    }
  }

  #coaching-women {
    background: $peta-yellow-bg;
    hr {
      background: white;
    }
    .button {
      border-color: white;
    }
  }

  #sales-preparation {
    background: white;
    text-align: right;
    .line {
      display: flex;
      justify-content: flex-end;
    }
    .includes {
      border-color: $peta-yellow;
    }
    h2 {
      color: $peta-yellow;
      font-size: 3.8vw;
      margin: 0;
      line-height: 120%;
      @media (max-width: 600px) {
        font-size: 10vw;
      }
    }
    h3 {
      color: $peta-yellow;
      font-size: 2.5vw;
      font-family: $neuzeit-book;
      margin-bottom: 0.9vw;
      @media (max-width: 700px) {
        font-size: 3vw;
      }
      @media (max-width: 500px) {
        font-size: 5vw;
      }
    }
    .button {
      background: rgba($peta-yellow, 0);
      &:hover {
        background: rgba($peta-yellow, 1);
      }
    }
  }

  #group-workshop {
    background: $background-brown;
    p {
      color: white;
    }
    .button {
      color: $peta-yellow;
    }
    > .image {
      position: relative;
      img {
        width: auto;
        height: 100%;
        min-width: none;
      }
      @media (max-width: 700px) {
        img {
          height: 100%;
          width: auto;
          min-width: none;
        }
      }
      @media (max-width: 640px) {
        width: 102vw;
        height: 102vw;
        min-width: none;

        img {
          left: 50vw;
          top: 50vw;
          transform: translate(-50%, -50%);
          height: 100%;
          min-width: none;
        }
      }
    }
  }

  #contact {
    background: $peta-yellow-bg;
    h2 {
      @media (max-width: 600px) {
        font-size: 10vw;
      }
    }
    h3 {
      font-family: $neuzeit-book;
      font-size: 2.5vw;
      color: $peta-brown-text;
      line-height: 130%;
      @media (max-width: 600px) {
        font-size: 5vw;
      }
    }
    h4 {
      line-height: 200%;
      font-size: 1.8vw;
      font-family: $neuzeit-heavy;
      color: $peta-brown-text;
      @media (max-width: 600px) {
        font-size: 3.5vw;
      }
    }

    #details {
      max-width: 37vw;
      padding-top: 10vw;
      @media (max-width: 600px) {
        padding: 16vw 8vw 8vw;
        max-width: none;
        span {
          display: none;
        }
        p {
          font-size: 4vw;
        }
      }
      hr {
        background: white;
      }
      p {
        margin-top: 2vw;
        color: $peta-brown-text;

      }
      dl {
        display: flex;
        flex-wrap: wrap;
        margin: 3vw 0;
        dd,
        dt {
          line-height: 200%;
          font-size: 2vw;
          @media (max-width: 600px) {
            font-size: 4vw;
          }
        }
        dt {
          width: 8%;
        }
        dd {
          width: 92%;
          margin: 0;
          a {
            position: relative;
            display: inline-block;
            font-family: $neuzeit-heavy;
            color: $peta-brown-text;
            &:after {
              content: ' ';
              position: absolute;
              bottom: 1vw;
              left: 0;
              width: 100%;
              height: 1px;
              background: $peta-brown;
              opacity: 0.5;
              transition: bottom 300ms ease-out;
            }
            @media (min-width: 800px) {
              &:hover {
                &:after {
                  bottom: 0.7vw;
                }
              }
            }
          }
        }
      }
      .social {
        display: flex;
        margin: 3vw 0 5vw;
        li {
          margin-right: 1.6vw;
          @media (max-width: 600px) {
            margin-right: 3vw;
          }
          a {
            display: block;
            border-radius: 50%;
            @media (max-width: 600px) {
              &:hover {
                img {
                  transform: scaleX(1.1) scaleY(1.1);
                }
              }
            }
            img {
              width: 5vw;
              height: 5vw;
              transform: scaleX(1) scaleY(1);
              transition: transform 400ms ease-out;
              @media (max-width: 600px) {
                width: 15vw;
                height: 15vw;
              }
            }
          }
        }
      }
      .button {
        border: 0.2vw solid white;
        line-height: 100%;
        font-size: 2.4vw;
        text-align: center;
        width: 100%;
        padding: 1.7vw 0 1.4vw;
        margin: 1.1vw 0;
        @media (max-width: 600px) {
          display: inline-flex;
          margin-top: 3vw;
          width: auto;
          font-size: 4vw;
          padding: 2.4vw 8vw 2.1vw;
        }
        @media (max-width: 450px) {
          font-size: 6vw;
          padding: 3.4vw 12vw 3.1vw;
        }
        @media (max-width: 400px) {
          display: flex;
          justify-content: center;
        }
      }
    }
    #form {
      max-width: 80vw;
      padding-top: 6vw;
      padding-bottom: 17vw;
      @media (max-width: 600px) {
        max-width: 100vw;
        padding: 0 8vw 8vw;
      }
      h4 {
        margin-bottom: 1vw;
      }
      form {
        display: flex;
        @media (max-width: 600px) {
          flex-direction: column;
        }
        > div {
          width: 50%;
          display: flex;
          flex-flow: column nowrap;
          @media (max-width: 600px) {
            width: 100%;
          }
          &.left {
            padding-right: 2vw;
            @media (max-width: 600px) {
              padding-right: 0;
            }
          }
          &.right {
            padding-left: 2vw;
            @media (max-width: 600px) {
              padding-left: 0;
            }
          }
        }
      }
      .field {
        position: relative;
        margin-bottom: 1.5vw;
        input,
        label,
        textarea {
          font-size: 2vw;
          line-height: 150%;
          padding: 1.8vw 1.9vw 1.4vw;
          @media (max-width: 600px) {
            font-size: 4vw;
          }
        }
        label {
          position: absolute;
          z-index: 3;
          left: 0;
          top: 0;
          transition: transform 300ms ease-out;
          color: $peta-yellow;
        }
        input,
        textarea {
          position: relative;
          z-index: 2;
          width: 100%;
          box-sizing: border-box;
          color: $peta-brown-text;
          border: 0;
          outline: 0;
          background: white;
        }
        input {
          &:focus+.bg {
            transform: scaleX(1.02) scaleY(1.06);
          }
          &[name="name"] {
            padding-left: 8.2vw;
          }
          &[name="email"] {
            padding-left: 7.7vw;
          }
          &[name="phone"] {
            padding-left: 8.5vw;
          }
          &[name="location"] {
            padding-left: 10.8vw;
          }
          &[name="company"] {
            padding-left: 11.8vw;
          }
          &[name="industry"] {
            padding-left: 10vw;
          }
        }
        textarea {
          display: block;
          max-width: 100%;
          min-width: 100%;
          min-height: 36.6vw;
          padding-bottom: 1.8vw;
          &.has-value,
          &:focus {
            &+label {
              display: none;
            }
          }
        }
        .bg {
          background: white;
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          bottom: 0;
          transition: transform 200ms ease-out;
        }
      }
      button {
        background: $background-brown;
        font-size: 2vw;
        line-height: 150%;
        padding: 1.8vw 1.9vw 1.4vw;
        transition: opacity 200ms ease-out;
        justify-content: center;
        @media (max-width: 600px) {
          display: flex;
          margin-top: 3vw;
          width: auto;
          font-size: 4vw;
          padding: 2.4vw 8vw 2.1vw;
        }
        @media (max-width: 450px) {
          font-size: 6vw;
          padding: 3.4vw 12vw 3.1vw;
        }
        @media (max-width: 400px) {
          display: flex;
          justify-content: center;
        }
        @media (min-width: 600px) {
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

}
