{% extends "layout.html.njk" %}

{% block meta %}
  <title>Peta Sitcheff - Individual Coaching, Consulting & Keynote Speaking</title>
  <meta name="description" content="Leading teams to create & deliver on innovative projects that drive revenue growth and change the landscape of the market.">
{% endblock %}

{% block id %}brochure{% endblock %}

{% block content %}

  <main>

    <section id="hero">
      <div>
        <img src="/assets/images/peta-sitcheff-symbol.svg" alt="Peta Sitcheff symbol" width="233" height="480">
        <h1>Individual Coaching, Consulting &amp;&nbsp;Keynote Speaking</h1>
        <h3>By Peta Sitcheff</h3>
        <a href="/brochure.pdf" class="button" target="_blank">More</a>
      </div>
    </section>

    <section id="cta">
      <div>
        <div id="left">
          <h2>Leading teams to create & deliver on innovative projects that drive revenue growth and change the landscape of the market.</h1>
          <hr>
          <h3>Contact</h3>
          <dl>
            <dt>E</dt>
            <dd>
              <a href="mailto:peta@petasitcheff.com">peta@petasitcheff.com</a>
            </dd>
          </dl>
          <dl>
            <dt>P</dt>
            <dd>
              <a href="tel:+61488025991">0488 025 991</a>
            </dd>
          </dl>
          <ul id="social">
            <li>
              <a href="https://www.linkedin.com/in/peta-sitcheff-20b8b483/" target="_blank" title="Connect with Peta Sitcheff on Linkedin">
                <img src="/assets/images/social/linkedin.svg" alt="Linkdein icon" width="40px" height="40px">
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/petasitcheff/" target="_blank" title="See pictures of Peta on Instagram">
                <img src="/assets/images/social/instagram.svg" alt="Instagram icon" width="40px" height="40px">
              </a>
            </li>
          </ul>
        </div>

        <div id="right">
          <a href="/brochure.pdf" target="_blank">
            <img src="/assets/images/consulting-brochure@2x.png" alt="Peta Sitecheff's consulting brochure" width="700" height="976">
          </a>
          <h3>Get the Brochure</h3>
          <a href="/brochure.pdf" class="button" target="_blank">Download PDF</a>
        </div>
      </div>
    </section>

  </main>

  {% include "partials/footer2019.njk" %}

{% endblock %}