{% extends "layout.html.njk" %}

{% block meta %}
  <title>Peta Sitcheff - Sales Coaching &amp; Strategy</title>
  <meta name="description" content="Authentic, intentional and sustainable">
{% endblock %}

{% block id %}landing{% endblock %}

{% block content %}

  {% include "partials/menu.njk" %}

  <main>

    <section id="hero">
      <div>
        <div class="left">
          <img src="/assets/images/peta-sitcheff-logo2.svg" alt="Peta Sitcheff logo" width="233" height="480">
          {% include "partials/svg/hamburger.html" %}
        </div>
        <div class="right">
          <h1>Sales<br/>
            Coaching<br/>
            &amp; Strategy
          </h1>
          <h2>Authentic, intentional, sustainable</h2>
          <a href="#welcome">
            {% include "partials/svg/arrow-down.html" %}
          </a>
        </div>
      </div>
    </section>

    <section id="welcome">
      <div>
        <div class="left">
          <h2>Welcome</h2>
          <h3>Engineering exceptional sales results</h3>
          <hr>
          <p>Your sales force is the lifeblood of your organisation. Their performance is critical to your overall business success. But how often do you stop to ask, are we doing enough to support our salespeople and make them exceptional? When your salespeople thrive, so does your bottom line.</p>
          <p>Whether you are an individual salesperson seeking to enhance your selling skills or a corporation wanting to improve the effectiveness of your sales team, my coaching vision is to help salespeople of all levels thrive through the development of a personal selling plan that is intentional, authentic and above all, sustainable.</p>
        </div>
        <div class="callout">
          <blockquote cite="{{ url }}">&ldquo;My holistic coaching approach focuses on you, the individual seller first. Together we will explore and enhance your
            <u>signature selling style</u>. We develop tailored strategies that will equip you to tackle the highs and lows of a career in sales with confidence and integrity.&rdquo;</blockquote>
          <cite>- Peta Sitcheff</cite>
        </div>
      </div>
    </section>

    <section id="guidance-quote">
      <div>
        <div class="background"></div>
        <blockquote cite="{{ url }}">&ldquo;I wholeheartedly believe that with the right g<u>uidance</u>, we each have the ability to engineer our exceptional selling selves.&rdquo;
        </blockquote>
      </div>
    </section>

    <section id="story">
      <div>
        <div id="short">
          <div>
            <h2>My Story</h2>
            <hr>
            <p>Let me introduce myself, I'm Peta Sitcheff and I unashamedly love to sell. In fact, I love it to the point where most of the time, I don't even realise I'm doing it.</p>
            <button class="arrow right">
              <span>Read More</span>
              {% include "partials/svg/arrow-right.html" %}
            </button>
          </div>
        </div>
        <div id="long">
          <div>
            <h2>My Story</h2>
            <hr>
            <div>
              <div class="left">
                <p>Selling is a passion of mine that has afforded me an extraordinary career spanning over 17 years. I've worked for market leading organisations in a range of industries. Each organisation possessed a strong culture that I could thrive in. Success was recognised, challenges overcome and achievements rewarded, but most importantly for me, those I respected took the time to recognise a job well done.</p>
                <p>My career was ticking along beautifully. Then one day that changed. I was so determined to succeed that I failed to recognise I no longer had professional boundaries. Work was 24/7. I was operating robotically, I was exhausted and I was on the edge of a burn out. I pretended everything was OK when in reality, it was far from it.</p>
                <p>Fundamentally I still loved what I did, I just didn't love the impact it was having on me anymore. It was completely unsustainable. This moment made me question things. How do I prevent this from happening again to myself or to any high performing salesperson? I knew there must be a better way.</p>
              </div>
              <div class="right">
                <p>By drawing on my personal experiences, the triumphs and let's face it, a few failures along the way, I've devised a sales coaching practice which acknowledges that every salesperson has a unique operating style. This, along with loyal customer connections and a value based sales strategy, provides the foundation for your selling success.</p>
                <p>I believe that practicing sales can and should be deeply rewarding for both you and the business you operate within. And most importantly it must be sustainable.</p>
                <a href="https://www.linkedin.com/in/peta-sitcheff-20b8b483/" target="_blank" class="button">LinkedIn</a>
                <a href="#contact" class="button">Contact Peta</a>
              </div>
            </div>
            <a href="#story">
              <button class="arrow left">
                {% include "partials/svg/arrow-left.html" %}
                <span>Read Less</span>
              </button>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="services-nav">
      <div>
        <div>
          <h2>Services</h2>
          <hr>
        </div>
        <ul>
          <li>
            <a href="#sales-coaching" class="button">Sales Coaching 1 On 1
              {% include "partials/svg/arrow-down.html" %}
            </a>
          </li>
          <li>
            <a href="#coaching-women" class="button">Coaching Women
              {% include "partials/svg/arrow-down.html" %}
            </a>
          </li>
          <li>
            <a href="#sales-preparation" class="button">Medical Device Industry Preparation
              {% include "partials/svg/arrow-down.html" %}
            </a>
          </li>
          <li>
            <a href="#group-workshop" class="button">Group Workshops
              {% include "partials/svg/arrow-down.html" %}
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section id="sales-coaching">
      <div>
        <h2>Sales Coaching
          <nobr>1 on 1</nobr>
        </h2>
        <hr>
        <p>Coaching is a recognised tool that helps your sales talent maximise their potential and drive results. My coaching sessions are designed to engage, inspire and empower salespeople with the tools required to achieve sustainable selling success.</p>
        <p>By enhancing your authentic awareness, I encourage you to appreciate your natural talent as we transform your personal traits into practical selling tools. This will help you navigate your sales career with confidence, integrity &amp; authenticity.</p>
        <a href="#contact" class="button">Enquire</a>
      </div>
    </section>

    <section id="packages-intro">
      <div>
        <div class="left">
          <h2>Packages</h2>
          <hr>
          <p>Depending on your needs, I offer three core areas of focus or you can select a custom package. In any case, each package is tailored to your own business and your individual needs.</p>
        </div>
        <div class="callout">
          <blockquote cite="{{ url }}">&ldquo;I guide salespeople on a journey to discover their
            <u>authentic</u>
            selling practice and develop a signature selling style.&rdquo;
          </blockquote>
        </div>
      </div>
    </section>

    <section id="packages-list">
      <div>
        <ul>
          <li>
            <img src="/assets/images/icon-you.svg" alt="icon of you waving your hand" width="80" height="80">
            <div class="left">
              <h3>You</h3>
              <hr>
              <p>Together we'll identify your inner traits and explore ways to turn them into valuable sales tools. You'll discover the role authenticity plays in your selling practice and develop a framework that sets the foundations for your personal selling style.
              </p>
              <a href="#contact">Enquire</a>
            </div>
            <div class="right">
              <h4>Includes:</h4>
              <ul>
                <li>
                  <p>4x 1-hour sessions in person, phone or by Skype</p>
                </li>
                <li>
                  <p>Unlimited email correspondence throughout your journey</p>
                </li>
                <li>
                  <p>Course materials</p>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <img src="/assets/images/icon-your-customer.svg" alt="icon of you and customer shaking hands" width="80" height="80">
            <div class="left">
              <h3>Your Customer</h3>
              <hr>
              <p>Successful salespeople have one thing in common, the ability to build an emotional connection with their customers quickly. We'll dissect your customer's journey, refine communication skills and devise strategies that will enhance your relationship and drive sales.</p>
              <a href="#contact">Enquire</a>
            </div>
            <div class="right">
              <h4>Includes:</h4>
              <ul>
                <li>
                  <p>4x 1-hour sessions in person, phone or by Skype</p>
                </li>
                <li>
                  <p>Unlimited email correspondence throughout your journey</p>
                </li>
                <li>
                  <p>Course materials</p>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <img src="/assets/images/icon-strategy.svg" alt="icon of strategy network" width="80" height="80">
            <div class="left">
              <h3>Your Sales Strategy</h3>
              <hr>
              <p>Strategise by design not by default. We'll review your existing plans and identify opportunities before creating and crash testing an intentional and targeted sales strategy. Your transformative sales plan will empower you to navigate sales challenges with ease and maximise your business potential.</p>
              <a href="#contact">Enquire</a>
            </div>
            <div class="right">
              <h4>Includes:</h4>
              <ul>
                <li>
                  <p>4x 1-hour sessions in person, phone or by Skype</p>
                </li>
                <li>
                  <p>Unlimited email correspondence throughout your journey</p>
                </li>
                <li>
                  <p>Course materials</p>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <img src="/assets/images/icon-custom.svg" alt="icon of pen writing custom package" width="80" height="80">
            <div class="left">
              <h3>Custom</h3>
              <hr>
              <p>No set framework, this package is based on individual needs. It is ideal for sales people who have a specific problem to solve or who feel like they are at a crossroads in their career and need clarity on the journey forward.</p>
              <a href="#contact">Enquire</a>
            </div>
            <div class="right">
              <h4>Includes:</h4>
              <ul>
                <li>
                  <p>4x 1-hour sessions in person, phone or by Skype</p>
                </li>
                <li>
                  <p>Unlimited email correspondence throughout your journey</p>
                </li>
                <li>
                  <p>Course materials</p>
                </li>
              </ul>
            </div>
          </li>
          <li class="last">
            <h5>Read more about the benefits of sales coaching</h5>
            <hr>
            <div>
              <p>Sales Teams Need More Coaching</p>
              <a href="https://hbr.org/2015/05/a-high-percentage-move-to-increase-revenue" target="_blank" title="Sales Teams Need More Coaching">Read</a>
            </div>
            <div>
              <p>The Dirty Secret of Effective Sales Coaching</p>
              <a href="https://hbr.org/2011/01/the-dirty-secret-of-effective" target="_blank" title="The Dirty Secret of Effective Sales Coaching">Read</a>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section id="awareness-quote">
      <div>
        <div class="background"></div>
        <blockquote cite="{{ url }}">&ldquo;Don't underestimate the power of your
          <u>authentic&nbsp;awareness</u>
          and the value that brings to your customers.&rdquo;
        </blockquote>
      </div>
    </section>

    <section id="coaching-women" class="split">
      <div class="left text">
        <h2>Coaching Women</h2>
        <hr>
        <p>Having worked in male dominated industries myself, I'm particularly passionate about supporting women to succeed in their sales careers. These sessions are designed to engage, empower and provide a confidential environment where scenarios can be discussed and workshopped. Through the use of powerful mindset techniques alongside tested sales strategies we build confidence and tenacity to improve performance for female salespeople.</p>
        <div class="includes">
          <h4>Includes:</h4>
          <ul>
            <li>
              <p>4x 1-hour sessions in person,
                <nobr>phone or by Skype</nobr>
              </p>
            </li>
            <li>
              <p>Unlimited email correspondence throughout your journey</p>
            </li>
            <li>
              <p>Course materials</p>
            </li>
          </ul>
        </div>
        <a href="#contact" class="button">Enquire</a>
      </div>
      <div class="right image">
        <img src="/assets/images/coaching-women.jpg" alt="portrait photo of Peta Sitcheff for coaching women by Prue Aja" width="660" height="1110">
      </div>
    </section>

    <section id="sales-preparation" class="split">
      <div class="left image">
        <img src="/assets/images/sales-preparation.jpg" alt="sky view from city map Peta Sitcheff's sales preparation" width="660" height="1110">
      </div>
      <div class="right text">
        <h2>Sales Preparation</h2>
        <h3>For The Medical Device Industry</h3>
        <div class="line">
          <hr>
        </div>
        <p>The medical device industry is driven by continuous innovation and new technologies. If you're looking to carve out a rewarding and lucrative sales career in this dynamic industry, we will arm you with industry insights, ensure you are interview ready and provide support throughout your recruitment journey.</p>
        <div class="includes">
          <h4>Includes:</h4>
          <ul>
            <li>
              <p>2x 1-hour sessions in person,
                <nobr>phone or by Skype</nobr>
              </p>
            </li>
            <li>
              <p>Unlimited email correspondence throughout your journey</p>
            </li>
            <li>
              <p>Course materials</p>
            </li>
          </ul>
        </div>
        <a href="#contact" class="button">Enquire</a>
      </div>
    </section>

    <section id="group-workshop" class="split">
      <div class="left text">
        <h2>Group Workshops</h2>
        <hr>
        <p>Your teams coaching journey will reveal unique methods of selling for each person while keeping the company vision and desired team culture top of mind. Your team will not only transform their personal selling power, but also gain an understanding of each other's unique talents to enhance team performance.</p>
        <p>These workshops are customised to suit your organisations needs or can be based on the 1:1 sales coaching framework; you and your customer.</p>
        <a href="#contact" class="button">Corporate Enquiry</a>
      </div>
      <div class="right image">
        <img src="/assets/images/group-workshops.jpg" alt="photo of Peta Sitcheff for group workshop by Prue Aja" width="660" height="1110">
      </div>
    </section>

    <section id="contact">
      <div id="details">
        <h2>Contact</h2>
        <hr>
        <h3>Are you ready to discover how a confident and authentic sales strategy can transform how you sell?</h3>
        <p>I'd love to hear from you.
          <span>Send me your career questions, comments and coaching enquiries. I personally answer every email that comes in. Alternatively, book a free 15-minute call with me to talk about how your career is going and how I might be able to help you.</span>
        </p>
        <dl>
          <dt>E</dt>
          <dd>
            <a href="mailto:peta@petasitcheff.com" target="_blank">peta@petasitcheff.com</a>
          </dd>
        </dl>
        <ul class="social">
          <li>
            <a href="https://www.linkedin.com/in/peta-sitcheff-20b8b483/" target="_blank" title="Connect with Peta Sitcheff on Linkedin">
              <img src="/assets/images/social/linkedin.svg" alt="Linkdein icon" width="40px" height="40px">
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/petasitcheff/" target="_blank" title="See pictures of Peta on Instagram">
              <img src="/assets/images/social/instagram.svg" alt="Instagram icon" width="40px" height="40px">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/PetaSitcheff" target="_blank" title="Follow Peta Sitcheff on Twitter">
              <img src="/assets/images/social/twitter.svg" alt="Twitter icon" width="40px" height="40px">
            </a>
          </li>
        </ul>
        <h4>Book your free 15-minute call</h4>
        <a href="https://app.acuityscheduling.com/schedule.php?owner=13280671" class="button">Book</a>
      </div>
      <div id="form">
        <h4>Or contact Peta via email</h4>
        <form>
          <div class="left">
            <div class="field">
              <button class="toggle" name="brochure">
                <span class="check"></span>
                <span>Request Corporate Brochure</span>
              </button>
            </div>
            <div class="field">
              <label>Name</label>
              <input type="text" name="name">
              <div class="bg"></div>
            </div>
            <div class="field">
              <label>Email</label>
              <input type="email" name="email">
              <div class="bg"></div>
            </div>
            <div class="field">
              <label>Phone</label>
              <input type="text" name="phone">
              <div class="bg"></div>
            </div>
            <div class="field">
              <label>Location</label>
              <input type="text" name="location">
              <div class="bg"></div>
            </div>
            <div class="field">
              <label>Company</label>
              <input type="text" name="company">
              <div class="bg"></div>
            </div>
          </div>
          <div class="right">
            <div class="field message">
              <textarea rows="8" cols="80" name="message"></textarea>
              <label>Message</label>
            </div>
            <button class="submit">Send Message</button>
          </div>
        </form>
      </div>
    </section>
  </main>

  {% include "partials/footer2017.njk" %}

{% endblock %}