$neuzeit-book: "Neuzeit-Book", sans-serif;
$neuzeit-heavy: "Neuzeit-Heavy", sans-serif;

$peta-yellow: #f5e401;
$peta-yellow-bg: #f4e207;
$peta-brown: #565656;
$peta-brown-text: #636467;
$background-grey: #636467;
$background-brown: #4f504f;
$paragraph-grey: #221f20;

$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
